/* 
    Filename    : stylesheet.css
    Created on  : 21.05.2019, 09:14:12
    Author      : Andrin Maric Weiler <andrin.weiler at stud.kftg.ch>
*/

* {
    margin: 0;
}

body {
    background-image: url("img/hintergrund_5");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-color: #77dd77;
}

.container {

}

header {

}

nav {

}

main {

}

footer{

}
