/* 
    Filename    : stylesheet.css
    Created on  : 21.05.2019, 09:14:12
    Author      : Andrin Maric Weiler <andrin.weiler at stud.kftg.ch>
*/

* {
    margin: 0;
}

body {

}

.container {

}

header {

}

nav {

}

main {

}

footer{

}
